.donation-content{
    width: 915px;
    height: 282px;
    padding: 80px 182px 100px 183px;
    display: flex;
}

.donation-content .dog{
    width: 505px;
    height: 261px;
    margin: 11px 30px 10px 0;
}

.donation-content .content{
    width: 380px;
    height: 282px;
}

.donation-content .content h3{
    width: 300px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #545454;
}

.donation-content .content h5{
    width: 307px;
    height: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110.00000000000001%;
    letter-spacing: 6%;
    vertical-align: middle;
    color: #545454;
    white-space: nowrap;
    margin-top: 20px;
}

.donation-content .content p{
    width: 380px;
    height: 72px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #B2B2B2;
}

.credit-card .credit-card-content{
    display: flex;
    margin-top: 20px;
    max-width: 349px;
    max-height: 43px;
    border-radius: 9px;
    gap: 15px;
    background-color: #F1CDB3;
}

.credit-card .credit-card-content img{
    width: 30px;
    height: 23px;
    padding: 10px 0 15px 10px;
}

.credit-card .credit-card-content a{
    width: 274px;
    height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.99999999999999%;
    letter-spacing: 6%;
    vertical-align: middle;
    text-decoration: none;
    color: #545454;
    padding: 10px 15px 10px 0;
    white-space: nowrap;
}

