.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 60px;
  margin: 0 40px 0 40px;
  padding-top: 30px;
}

.header .logo a {
  text-decoration: none;
}

.header .logo .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  white-space: nowrap;
}

.header .logo .subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #ffffff;
  white-space: nowrap;
}

.menu ul {
  display: flex;
  gap: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #cdcdcd;
  transition: color 0.3s ease;
}

.menu ul li:hover a {
  color: #fafafa;
}

.menu ul li:active a {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

/* ===== MEDIA QUERY for 768px ===== */
@media (max-width: 768px) {
  .header {
    margin: 0 30px !important;
    padding-top: 30px !important;
    height: 60px !important;
    position: relative;
  }

  .burger-menu {
    display: flex !important;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .burger-line {
    background-color: #f1cdb3;
    width: 30px;
    height: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
  }

  .burger-menu.active {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .burger-menu.active .burger-line {
    width: 2px;
    height: 30px;
    transform: none !important;
  }


  .menu ul {
    display: none !important;
  }

  .menu {
    position: absolute;
    top: 90px;
    left: -30px;
    width: 768px;
    background-color: #292929;
    padding: 40px 0;
    z-index: 100;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .menu.active {
    display: block !important;
  }

  .menu ul {
    flex-direction: column !important;
    align-items: center !important;
    gap: 30px !important;
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    display: flex !important;
  }

  .menu ul li a {
    font-size: 24px !important;
    color: #cdcdcd !important;
  }

  .menu ul li:hover a {
    color: #fafafa !important;
  }

  .menu ul li:active a {
    border-bottom: 3px solid #f1cdb3 !important;
    color: #fafafa !important;
  }

  .overlay {
    display: none !important;
  }

  .overlay.active {
    display: block !important;
  }
}


/* ===== MEDIA QUERY for 320px ===== */
@media (max-width: 320px) {
  .header {
    margin: 0 20px !important;
    padding-top: 30px !important;
    width: 280px !important;
    height: 60px !important;
    position: relative;
  }

  .burger-menu {
    display: flex !important;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .burger-line {
    background-color: #f1cdb3;
    width: 30px;
    height: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
  }

  .burger-menu.active {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .burger-menu.active .burger-line {
    width: 2px;
    height: 30px;
    transform: none !important;
  }

  .header .logo {
    width: 184px;
    height: 60px;
  }

  .header .logo .title {
    font-size: 28px !important;
    margin-bottom: 8px !important;
  }

  .header .logo .subtitle {
    font-size: 12px !important;
  }

  .menu {
    position: absolute;
    top: 60px;
    left: -10px;
    width: 320px;
    background-color: #292929;
    padding: 20px 0;
    z-index: 100;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .menu.active {
    display: block !important;
  }

  .menu ul {
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
  }

  .menu ul li a {
    font-size: 20px !important;
    color: #cdcdcd !important;
  }

  .menu ul li:hover a {
    color: #fafafa !important;
  }

  .menu ul li:active a {
    border-bottom: 3px solid #f1cdb3 !important;
    color: #fafafa !important;
  }

  .overlay {
    display: none !important;
  }

  .overlay.active {
    display: block !important;
  }
}
