.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 60px;
  margin: 0 40px 0 40px;
  padding-top: 30px;
}

.header .logo a {
  text-decoration: none;
}

.header .logo .title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  white-space: nowrap;
}

.header .logo .subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: #ffffff;
  white-space: nowrap;
}

.menu ul {
  display: flex;
  gap: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0;
  padding: 0;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #cdcdcd;
  transition: color 0.3s ease;
}

.menu ul li:hover a {
  color: #fafafa;
}

.menu ul li:active a {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}
