.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-container {
  height: auto;
  margin: 0 auto;
}

.hero {
  background:
    radial-gradient(
      ellipse at 80% 85%,
      rgb(33, 31, 32) 0%,
      rgb(91, 72, 58) 45%,
      rgb(38, 36, 37) 100%
    ),
    url("../images/start-screen-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 908px;
}

.about {
  background-color: #ffffff;
  width: 100%;
  min-height: 588px;
}

.pets {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 877px;
}

.help {
  background-color: #ffffff;
  width: 100%;
  min-height: 611px;
}

.donation {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 462px;
}

.footer {
  background:
    linear-gradient(0deg, #211f20, #211f20),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 310px;
}

@media (max-width: 768px) {
  .hero {
    width: 768px;
  }

  .hero .container {
    width: 768px;
    height: 1165px;
    padding: 0;
  }

  .about .container {
    width: 768px;
    height: 1048px;
    padding: 0;
  }

  .donation .container {
    width: 768px;
    height: 783px;
    padding: 0;
  }

  .main-container {
    width: 768px;
  }

  .donation {
    width: 768px;
    height: 783px;
  }

  .footer {
    width: 768px !important;
    height: 639px;
    padding: 0 !important;
  }

  .footer .container {
    width: 768px !important;
    height: 609px;
    padding: 30px 0 0 0 !important;
  }

  .footer-content .contacts h3 {
    padding-top: 0 !important;
  }

  .footer-content .locations h3 {
    padding-top: 0 !important;
  }
}

@media (max-width: 320px) {
  .main-container {
    width: 320px !important;
    max-width: 320px !important;
  }
}
