.main-container{
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    width: 100%;
}

.about{
    max-width: 1280px;
    height: 588px;
    position: static;
    top: 908px;
    background-color: #FFFFFF;
}

.donation{
    max-width: 1280px;
    height: 462px;
    background-color: #F6F6F6;
}